<main class="flex flex-col justify-center items-center text-center py-4">
<div class="grid grid-cols-3 gap-[100px] py-12">
    <div class="flex flex-col justify-center items-center text-center bg-mtavari p-10 space-y-6 rounded-xl">
        <img src="assets/devs/giorgi.svg" alt="developer" class="w-[130px] h-[130px] rounded-full bg-white">
        <h1 class="text-2xl text-white font-semibold">Dachi <br> Loseurashvili</h1>
        <p class="text-white text-lg max-w-[380px]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo beatae dignissimos provident id delectus veritatis cum odio, magni quis quos fugiat? Ullam iusto, rerum quasi officiis odit perspiciatis mollitia.
        </p>
        <app-button title="Contact"></app-button>
    </div>
    <div class="flex flex-col justify-center items-center text-center bg-mtavari p-10 space-y-6 rounded-xl">
        <h1 class="text-2xl text-white font-semibold">Education</h1>
        <h1 class="text-xl text-white font-semibold">University: <br> International Black Sea University</h1>
        <img src="assets/skills/ibsu.png" alt="uni" class="w-[130px] h-[130px] rounded-full">
        <h1 class="text-xl text-white font-semibold">Major: Computer Science</h1>
        <h1 class="text-xl text-white font-semibold">Position: Full-Stack Developer</h1>
        <h1 class="text-xl text-white font-semibold max-w-[400px]">Skills: HTML, CSS, JavaScript, Angular, SASS, NodeJS, MongoDB</h1>
        <div class="flex justify-center items-center space-x-5">
            <img src="assets/skills/html.png" alt="skill" class="w-[70px] rounded-full">
            <img src="assets/skills/css.png" alt="skill" class="w-[70px] rounded-full">
            <img src="assets/skills/js.png" alt="skill" class="w-[70px] rounded-full">
        </div>
    </div>
    <div class="flex flex-col justify-center items-center text-center bg-mtavari p-10 space-y-6 rounded-xl">
        <h1 class="text-3xl text-white font-semibold">Socials</h1>
        <div><h1 class="text-2xl text-white font-semibold">Linkedin</h1>
            <h1 class="text-2xl text-white font-semibold">Instagram</h1>
            <h1 class="text-2xl text-white font-semibold">Github</h1>
            <h1 class="text-2xl text-white font-semibold">Email</h1>
            <h1 class="text-2xl text-white font-semibold">Facebook</h1>
        </div>
    </div>
</div>
<app-button title="Back to Home Page"></app-button>
</main>