<footer class="grid grid-cols-3 bg-mtavari p-3 text-white max-sm:flex max-sm:flex-col">
  <div class="flex flex-col justify-center items-center text-center max-sm:border-b-[1px] max-sm:border-white max-sm:p-4">
    <h1 class="text-xl">USEFUL LINKS</h1>
    <ul class="flex flex-col">
      <a href="about/" class="hover:underline">About</a>
      <a routerLink="courses/" class="hover:underline">Courses</a>
      <a href="contact/" class="hover:underline">Contact</a>
      <a href="sign-up/" class="hover:underline">Become a Member</a>
    </ul>
  </div>
  <div class="flex flex-col justify-center items-center text-center space-y-2 max-sm:border-b-[1px] max-sm:border-white max-sm:p-4">
    <h1 class="text-xl">SIGN UP FOR NEWSLETTER</h1>
    <input type="email" class="w-[300px] h-[35px] rounded-md p-2 text-black" placeholder="your.email@company.com" />
    <app-button title="Sign Up"></app-button> <!-- Assuming you have a button component -->
  </div>
  <div class="flex flex-col justify-center items-center text-center max-sm:p-4">
    <h1 class="text-xl">CONTACT</h1>
    <a href="https://www.google.com/maps/dir/13+Davit+Aghmashenebeli+Ave,+T'bilisi/Tbilisi/data=!4m8!4m7!1m2!1m1!1s0x40440ce076e64517:0x5532c5cea843999a!1m2!1m1!1s0x40440cd7e64f626b:0x61d084ede2576ea3!3e0?sa=X&ved=2ahUKEwiJxubZpryAAxXvbvEDHUJnCgMQ-A96BAgXEAA&ved=2ahUKEwiJxubZpryAAxXvbvEDHUJnCgMQ-A96BAgYEA0" class="max-w-[200px] hover:underline">2, David Agmashenebeli Alley 13 km Tbilisi, Georgia</a>
  </div>
</footer>
