<header class="flex flex-col justify-center items-center text-center">
    <div class="flex">
        <a href="/">
            <div class="w-[120px] p-4 text-xl hover:bg-mtavari hover:text-white hover:cursor-pointer max-sm:w-auto max-sm:px-2 max-sm:text-lg">
                Home
            </div>
            </a>
            <a href="courses/">
            <div class="w-[120px] p-4 text-xl hover:bg-mtavari hover:text-white hover:cursor-pointer max-sm:w-auto max-sm:px-2 max-sm:text-lg">
                Courses
            </div>
            </a>
            <a href="about/">
            <div class="w-[120px] p-4 text-xl hover:bg-mtavari hover:text-white hover:cursor-pointer max-sm:w-auto max-sm:px-2 max-sm:text-lg">
                About
            </div>
            </a>
            <a href="contact">
            <div class="w-[120px] p-4 text-xl hover:bg-mtavari hover:text-white cursor-pointer max-sm:w-auto max-sm:px-2 max-sm:text-lg">
                Contact
            </div>
            </a>
    </div>
    <div class="w-[70%] h-[1px] bg-black self-center">
    </div>
</header>
