<main class="mt-8">
<div class='flex flex-col justify-center items-center text-center py-4 space-y-4'>
    <h1 class='text-3xl font-semibold text-mtavari'>About <span class='text-black'>Us</span></h1>
    <div class="flex justify-center items-center text-center">
        <div class="w-[500px] h-[2px] bg-mtavari max-sm:hidden"></div>
        <div>
            <img class="w-[300px] h-[300px]" src="assets/page/aboutus-logo.png" alt="">
        </div>
        <div class="w-[500px] h-[2px] bg-mtavari max-sm:hidden"></div>
    </div>
    <div class="flex w-[100%] flex-col justify-center items-center text-center bg-mtavari text-white p-4 space-y-6">
        <div class={bebas.class}>
            <h1 class="text-2xl font-bold">
                WHAT IS CODEROOM?
            </h1>
            <p class="max-w-[600px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ipsa voluptatem eaque nihil molestiae doloribus perspiciatis culpa quaerat animi quia hic eveniet nam voluptatibus dolorum cupiditate quos et. Quasi, consequuntur!
            </p>
        </div>
        <div class={bebas.class}>
            <h1 class="text-2xl font-bold"> 
                WHAT IS CODEROOM?
            </h1>
            <p class="max-w-[600px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ipsa voluptatem eaque nihil molestiae doloribus perspiciatis culpa quaerat animi quia hic eveniet nam voluptatibus dolorum cupiditate quos et. Quasi, consequuntur!
            </p>
        </div>
        <div class={bebas.class}>
            <h1 class="text-2xl font-bold">
                WHAT IS CODEROOM?
            </h1>
            <p class="max-w-[600px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ipsa voluptatem eaque nihil molestiae doloribus perspiciatis culpa quaerat animi quia hic eveniet nam voluptatibus dolorum cupiditate quos et. Quasi, consequuntur!
            </p>
        </div>
    </div>
    <div class="flex justify-center items-center text-center space-x-4 py-8 pb-10 max-sm:flex-col max-sm:space-x-0 max-sm:space-y-2">
        <div class="w-[200px] h-[100px] rounded-xl bg-mtavari text-xl text-white flex font-semibold justify-center items-center text-center">
            Easy To Use
        </div>
        <div class="w-40 h-[2px] bg-mtavari max-sm:w-[2px] max-sm:h-16"></div>
        <div class="w-[200px] h-[100px] rounded-xl bg-mtavari text-xl text-white flex font-semibold justify-center items-center text-center">
            24/7 Support
        </div>
        <div class="w-40 h-[2px] bg-mtavari max-sm:w-[2px] max-sm:h-16"></div>
        <div class="w-[200px] h-[100px] rounded-xl bg-mtavari text-xl text-white flex font-semibold justify-center items-center text-center">
            Realtime Info
        </div>
    </div>
</div>
</main>