<div class='flex justify-center items-center text-center py-10'>
    <form action="" class='bg-mtavari flex flex-col justify-center items-center text-center p-14 rounded-xl space-y-6 max-sm:w-[100%] max-sm:bg-white'>
            <h1 class="text-white text-3xl font-semibold max-sm:text-2xl max-sm:text-mtavari">Sign In</h1>
            <input type="text" class='w-80 h-10 rounded-md p-2 max-sm:shadow-sm max-sm:shadow-black max-sm:border-[1px] max-sm:border-black' placeholder='Email'/>
            <input type="text" class='w-80 h-10 rounded-md p-2 max-sm:shadow-sm max-sm:shadow-black max-sm:border-[1px] max-sm:border-black' placeholder='Password'/>
            <a href="#" class="text-white hover:underline hover:cursor-pointer">Forgot Password?</a>
            <app-button title="Login">
            </app-button>
            <a href="/sign-up" class="text-white hover:underline hover:cursor-pointer">Don't have an account? <br /> Create one here</a>      
    </form>
</div>